<!DOCTYPE html>
<head>
  

<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
  

<nav class="navbar navbar-expand-sm bg-dark">
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/';"
        >
          Home
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Bio';"
        >
          Biography
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Vidcode';"
        >
          Vidcode
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Alt';"
        >
          Other Projects
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Morse';"
        >
          Morsecode
        </button>
      </div>
    </nav>
<div class="jumbotron text-center">
      <h1>Noah's Website</h1>
    </div>
  
  <!-- 
3d print
      hosting website for Remote light Rasp Pi
      git -> hub -> heroku
      Apis and ifs

 -->
  <div>
    
  
    <div class="row">
    <div class="col-sm-4">
    <img src = "https://cdn.glitch.com/e40d6d95-726b-49f0-b1a6-370bcce4379a%2FCapture.PNG?v=1579265083411">
    </div>
    <div class="col-sm-2">
      <p class = "left">
        In unit one we learned the basics of java script, learning the importance of sequence, functions, variables, and objects inorder to build our own couston filters, memes, and other basic tasks.
      </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
      In unit two we learned the basics of arrays, by orgainizing various types of data like audio, video, image, text, and shapes into arrays, and building stop-motion movies.
      </p>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
     <div class="row">
    <div class="col-sm-4">
    
    </div>
    <div class="col-sm-2">
      <p class = "left">
        In unit one we learned the basics of java script, learning the importance of sequence, functions, variables, and objects inorder to build our own couston filters, memes, and other basic tasks.
      </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
      In unit two we learned the basics of arrays, by orgainizing various types of data like audio, video, image, text, and shapes into arrays, and building stop-motion movies.
      </p>
    </div>
    <div class="col-sm-4">
      
    </div>
  </div>
 
  </div>
  
</body>