<!DOCTYPE html>
<head>
  

<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styleAlt.css" />
</head>
<body>
  

<nav class="navbar navbar-expand-sm bg-dark">
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/';"
        >
          Home
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Bio';"
        >
          Biography
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Vidcode';"
        >
          Vidcode
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Alt';"
        >
          Other Projects
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Morse';"
        >
          Morsecode
        </button>
      </div>
    </nav>
<div class="jumbotron text-center">
      <h1>Noah's Website</h1>
    </div>
  
  <!-- 
3d print
      hosting website for Remote light Rasp Pi
      git -> hub -> heroku
      Apis and ifs

 -->
  <div>
    
  
    <div class="row">
    <div class="col-sm-4">
    <img class = "frameSize" src = "https://cdn.glitch.com/e40d6d95-726b-49f0-b1a6-370bcce4379a%2FCapture.PNG?v=1579265083411">
    </div>
    <div class="col-sm-2">
      <p class = "left">
        The first project non-vidcode project we had this year was 3d modeling and printing using tinkercad.
      </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
      For our second project we were tasked with making an if this then that API that did whatever we wanted. Mine spammed my email whenever a sub-reddit i followed would do anything
      </p>
    </div>
    <div class="col-sm-4">
     <img class = "frameSize" src = "https://cdn.glitch.com/e40d6d95-726b-49f0-b1a6-370bcce4379a%2FAPi%20and%20if.PNG?v=1579270297400"> 
    </div>
  </div>
     <div class="row">
    <div class="col-sm-4">
    <img class = "frameSize" src = "https://cdn.glitch.com/e40d6d95-726b-49f0-b1a6-370bcce4379a%2FLEDmagic.PNG?v=1579270335775">
    </div>
    <div class="col-sm-2">
      <p class = "left">
        We had a bunch of various raspberyy pi projects like viewing the pi from a computer, hosting a website, and connecting a button controlled light to the website.
        </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
      The last mini project we had was to move our website to heroku, a free website host that is currently running this website!
      </p>
      
    </div>
    <div class="col-sm-4">
      <img class = "frameSize" src = "https://cdn.glitch.com/e40d6d95-726b-49f0-b1a6-370bcce4379a%2FWebpage.PNG?v=1579270753904">
    </div>
  </div>
 
  </div>
  
</body>