<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styleMain.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark">
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/';"
        >
          Home
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Bio';"
        >
          Biography
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Vidcode';"
        >
          Vidcode
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Alt';"
        >
          Other Projects
        </button>
      </div>
      <div class = "vspacer">
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Morse';"
        >
          Morsecode
        </button>
      </div>
    </nav>

    <div class="jumbotron text-center">
      <h1>Noah's Website</h1>
    </div>

    <!-- weather widget start -->
    <a target="_blank" href="https://www.booked.net/weather/collingwood-6147"
      ><img
        src="https://w.bookcdn.com/weather/picture/3_6147_1_1_1527e8_275_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=569&anc_id=89430"
        alt="booked.net"
    /></a>
    <!-- weather widget end -->
  </body>
</html>
