<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styleVidcode.css" />
    
    <script src="/clientVidcode.js" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark">
      <div>
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Main';"
        >
          Home
        </button>
      </div>
      <div>
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/';"
        >
          Biography
        </button>
      </div>
      <div>
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Vidcode';"
        >
          Vidcode
        </button>
      </div>
      <div>
        <button
          type="button"
          class="topbutton"
          
        >
          alert
        </button>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Vidcode Projects</h1>
      <p1></p1>
    </div>
    
    
<div>
  <div class="row">
    <div class="col-sm-4">
    <img src="https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/39d4253a3a2a57d779106e15691dcdde_thumb.png" alt = "WorldOnFire">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <img src = "https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/71b6514ee0a7ec17fc55306a38c28390_thumb.png" alt = "Card">
    </div>
  </div>
      <div class="row">
    <div class="col-sm-4">
    <img src="https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/1a2594b1ef27f940cb1d39cf0ba5dae7_thumb.png" alt = "life" >
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <img src = "https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/ae09315eebf605e1b2a1c8e5df443d84_thumb.png" alt = "karaoke">
    </div>
  </div>
      <div class="row">
    <div class="col-sm-4">
    <img src="https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/e3fecb04629e72249082fed0d3f383e9_thumb.png" alt = "teaclicker" >
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <img src = "https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/9964d8c1498e96cdafce91cbfe49563b_thumb.png" alt = "idek">
    </div>
  </div>
    </div>


    
    
    
  </body>
</html>
