<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styleVidcode.css" />
    
    <script src="/clientVidcode.js" defer></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark">
      <div>
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Main';"
        >
          Home
        </button>
      </div>
      <div>
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/';"
        >
          Biography
        </button>
      </div>
      <div>
        <button
          type="button"
          class="topbutton"
          onclick="window.location.href = '/Vidcode';"
        >
          Vidcode
        </button>
      </div>
      <div>
        <button
          type="button"
          class="topbutton"
          
        >
          alert
        </button>
      </div>
    </nav>
    <div class="jumbotron text-center">
      <h1>Vidcode Projects</h1>
      <p1></p1>
    </div>
    
    
<div>
  <!-- Row 1 -->
  <div class="row">
    <div class="col-sm-4">
    <img class = "frameSize" src="https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/39d4253a3a2a57d779106e15691dcdde_thumb.png" alt = "WorldOnFire"
         >
              <script>
                $('img').click(function(){
            var video = '<div class="video-container"><iframe class = "frameSize"  allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/OctZuspZYb"></iframe></div>';
            $(this).replaceWith(video);
        });
        </script>

    </div>
    <div class="col-sm-2">
      <p class = "left">
        In unit one we learned the basics of java script, learning the importance of sequence, functions, variables, and objects inorder to build our own couston filters, memes, and other basic tasks.
      </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
      In unit two we learned the basics of arrays, by orgainizing various types of data like audio, video, image, text, and shapes into arrays, and building stop-motion movies.
      </p>
    </div>
    <div class="col-sm-4">
      <img class = "frameSize" src = "https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/71b6514ee0a7ec17fc55306a38c28390_thumb.png" alt = "Card"
                    >
        <script>
                $('img').click(function(){
            var video = '<div class="video-container"><iframe class = "frameSize" allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/dIsr70qhgm"></iframe></div>';
            $(this).replaceWith(video);
        });
        </script>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="row">
    <div class="col-sm-4">
    <img class = "frameSize" src="https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/1a2594b1ef27f940cb1d39cf0ba5dae7_thumb.png" alt = "life" 
                  >
        <script>
                $('img').click(function(){
            var video = '<div class="video-container"><iframe class = "frameSize" allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/Zk0MtZLs4p"></iframe></div>';
            $(this).replaceWith(video);
        });
        </script>
    </div>
    <div class="col-sm-2">
      <p class = "left">
        In unit three we made our programs 'come alive' through the use of operators to perform mathematical operations and comparisons,loops to reapeat sections of code, aswell as indexing arrays to create all kinds of new complex programs.
      </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
        In unit four we learned utilized if statements, code that will run only if certain conditions are met, to add complextiy to our programs and continue to practice the skils of the previous units
      </p>
    </div>
    <div class="col-sm-4">
      <img class = "frameSize" src = "https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/ae09315eebf605e1b2a1c8e5df443d84_thumb.png" alt = "karaoke"
                    >
        <script>
                $('img').click(function(){
            var video = '<div class="video-container"><iframe class = "frameSize" allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/ZzrPZFppb6"></iframe></div>';
            $(this).replaceWith(video);
        });
        </script>
    </div>
  </div>
  <!-- Row 3 -->
  <div class="row">
    <div class="col-sm-4">
    <img class = "frameSize" src="https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/e3fecb04629e72249082fed0d3f383e9_thumb.png" alt = "teaclicker" 
                  >
        <script>
                $('img').click(function(){
            var video = '<div class="video-container"><iframe class = "frameSize" allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/J8SIGNVRTz"></iframe></div>';
            $(this).replaceWith(video);
        });
        </script>
    </div>
    <div class="col-sm-2">
      <p class = "left">
        In unit five we used 'interactive elements to create an immersive experience.'
      </p>
    </div>
    <div class="col-sm-2">
      <p class = "right">
        Unit six was focused on using algorithms to create art! Through clever use of loops to create lots of shapes and/or move around or change existing elements.
      </p>
    </div>
    <div class="col-sm-4">
      <img class = "frameSize" src = "https://s3.amazonaws.com/user-objects/5d6e6f84c112230003133d25/9964d8c1498e96cdafce91cbfe49563b_thumb.png" alt = "idek"
                    >
        <script>
                $('img').click(function(){
            var video = '<div class="video-container"><iframe class = "frameSize" allowfullscreen frameborder="0" width="480" height="300" src="https://www.vidcode.com/share/renderer/OiBK0LQEZP"></iframe></div>';
            $(this).replaceWith(video);
        });
        </script>
    </div>
  </div>
</div>


    
    
    
  </body>
</html>
