/* CSS files add styling rules to your content */

body {
  font-family: sans-serif;
  
}

h1 {
  font-style: italic;
  color: #f42069;
}

.button{
  background-color: #669900;
 border-style: solid;
  border-width: 5px;
  padding: 20px 48px;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: impact;
  border-radius: 8px;
  border-color: grey;
}
.button:hover{
  background-color: green;
  transition-duration: 300ms;  
   border-style: solid;
  padding: 20px 48px;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-family: impact;
}
  .topbutton{
  background-color: grey;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
 font-size:15px;
  font-family: ariel;
  border-radius: 8px;
  }
  .topbutton:hover{
  transition-duration: 300ms;  
  background-color:darkgray;
  color: white;
  text-decoration: none;
  display: inline-block;
 font-size:15px;
  font-family: ariel;
  border-radius: 8px;
  }
 
.vspacer{
  padding: 0px 4px;
}